@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
/* 20, 85%, 67% new secondary color*/

  :root {
    /* done */
    --background: 151.3, 74.19%, 93.92%;
    --foreground: 241.71, 36.84%, 18.63%;

    --card: 152.22, 50.94%, 58.43%;
    --card-foreground: 241.71, 36.84%, 18.63%;

    --button: 151.3, 74.19%, 85%;
    --button-foreground: 241.71, 36.84%, 18.63%;
    
    --hover: 151.3, 74.19%, 71%;
    --hover-foreground: 242.22, 50.94%, 58.43%;

    --popover: 151.3, 74.19%, 93.92%;
    --popover-foreground: 241.71, 36.84%, 18.63%;

    --primary: 152.22, 50.94%, 58.43%;
    --primary-foreground: 241.71, 36.84%, 18.63%;

    --secondary: 242.22, 50.94%, 58.43%;
    --secondary-foreground: 241.71, 36.84%, 18.63%;

    --nav-bar: 152.22, 50.94%, 58.43%;
    --nav-var-foreground: 241.71, 36.84%, 18.63%;

    --border: 150, 38.89%, 7.06%;

    --content: 360, 100%, 100%;
    --input: 151.3, 74.19%, 93.92%;
    /* done */

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* done  */
    --background: 150, 38.89%, 7.06%;
    --foreground: 241.82, 94.29%, 93.14%;

    --card: 152.73, 38.82%, 16.67%;
    --card-foreground: 241.82, 94.29%, 93.14%;

    --button: 152.22, 50.94%, 58.43%;
    --button-foreground: 241.82, 50%, 45%;
    
    --hover: 152.22, 50.94%, 25.43%;
    --hover-foreground: 242, 94.29%, 93.14%;

    --popover: 152.73, 38.82%, 16.67%;
    --popover-foreground: 241.82, 94.29%, 93.14%;

    --primary: 152.22, 50.94%, 58.43%;
    --primary-foreground: 241.82, 94.29%, 93.14%;

    --secondary: 242.22, 50.94%, 58.43%;
    --secondary-foreground: 241.82, 94.29%, 93.14%;

    --nav-bar: 152.73, 38.82%, 16.67%;
    --nav-var-foreground: 241.82, 94.29%, 93.14%;

    --content: 0, 0%, 0%;

    --border: 151.3, 74.19%, 93.92%;
    --input: 150, 38.89%, 7.06%;
    /* done  */

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 152.22, 50.94% 45.1%;
    --accent-foreground: 241.82, 50%, 15%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.DialogOverlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  place-items: center;
  overflow-y: auto;
}